*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow: auto;
}

#header{
    position: static;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 105px;
    padding: 0 60px;
    gap: 30px;
    background-color: #0060B1;
    transition: 0.4s;

    .left-menu-btn{
        button{
            background: transparent;
            border: none;

            i{
                font-size: 28px;
                color: #fff;
            }
        }
        button:hover{
            cursor: pointer;
        }
    }

    .left-menu-container{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 100%);
        backdrop-filter: blur(2px);

        .close-menu-btn{
            position: relative;
            top: 20px;
            right: 0;
            color: #fff;
            
            button{
                font-size: 20px;
                font-weight: 700;
                background-color: #0060B1;
                border: none;
                padding: 10px 15px;
                color: #fff;
                border-radius: 0 10px 10px 0;
            }
            button:hover{
                cursor: pointer;
                filter: brightness(0.9);
            }
        }
    }
    .left-menu{
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: 100vh;
        background-color: #0060B1;
        color: #fff;
        padding: 20px;
        z-index: 1;

        .user-info{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;

            h2{
                font-size: 20px;
                font-weight: 700;
            }
        }

        .links{
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
            height: 100%;
            overflow: hidden auto;
            
            a{
                border-radius: 5px;
                text-decoration: none;
                color: #fff;
                font-size: 14px;
                font-weight: 400;
                padding: 10px;
                width: 100%;
                height: fit-content;
                background-color: #0060B1;

                i{
                    margin-right: 10px;
                }
            }
        }
        .links a:hover{
            cursor: pointer;
            filter: brightness(0.95);
        }
        .leftmenu-login-register{
            margin-top: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 160px;
            gap: 10px;

            .login{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 40px;
                background-color: #FF6500;
                text-decoration: none;
                color: #fff;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                border-radius: 5px;
            }
            .register{
                text-decoration: none;
                color: #fff;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
    .left-menu-container.active{
        display: flex;
        animation: opencloseMenu 0.5s ease forwards;
    }
    .search-imput{
        width: 100%;
        max-width: 550px;
        display: flex;
        align-items: center;
        position: relative;

        input{
            width: 100%;
            height: 36px;
            padding: 0 30px 0 20px;
            border-radius: 5px 30px 30px 5px;
            border: none;
            font-size: 14px;
        }
        button{
            position: absolute;
            background: transparent;
            border: none;
            right: -40px;
            top: -5px;
        }
        button:hover{
            cursor: pointer;
        }
    }
    .user-picture{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: solid 3px #357ab3;

        i{
            font-size: 20px;
            color: #cecece;
        }
    }
    .login-register{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 30px;

        
        .user-login-register{
            display: flex;
            flex-direction: column;
            justify-content: center;
            

            div{
                margin: -3px;
            }

            a{
                text-decoration: none;
                color: #fff;
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
            }
            span{
                color: #fff;
                font-size: 12px;
                font-weight: 300;
            }
            a:hover{
                cursor: pointer;
            }
        }
    }
    .right-menu{
        display: flex;
        gap: 30px;
        margin-left: 50px;

        i{
            font-size: 22px;
            color: #fff;
        }
    }
}
.links::-webkit-scrollbar {
    width: 4px;
}
.links::-webkit-scrollbar-track {
    background: #2b77b4;
}
.links::-webkit-scrollbar-thumb { 
    background: #79a7cc; 
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 0 60px;
    background-color: #FF6500;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;

    .departments-container{
        display: none;
        position: absolute;
        top: 100%;
        align-items: flex-start;
        text-align: start;
        background-color: #fafafa;

        ul{
            overflow: auto;
            max-height: 370px;
            scrollbar-width: none;
        }

        a{
            text-decoration: none;
            text-transform: none;
            font-weight: 400;
            color: #5c5c5c;
        }

        .sub-departments{
            display: block;
        }
        .sub-departments li:first-child{

            a{
                text-transform: none;
                text-decoration: underline;
                font-weight: 400;
                color: #F17A28;
            }
        }
        .sub-departments li:first-child:hover{
            background-color: #fafafa;
        }
        .department-itens li:first-child:hover{
            background-color: #fafafa;
        }

        ul li{
            list-style: none;
            background-color: #fafafa;
            padding: 8px 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span{
                text-decoration: none;
                text-transform: none;
                font-weight: 400;
                color: #5c5c5c;
            }
            i{
                margin-left: 42px;
                color: #5c5c5c;
            }
        }
        ul li:hover{
            cursor: pointer;
            background-color: #eeeeee;
        }
        .department-itens{
            display: none;
        }
        .department-itens li:first-child{
            a{
                text-transform: none;
                text-decoration: underline;
                font-weight: 400;
                color: #F17A28;
            }
        }
    }
    #arrow{
        transition: transform 0.2s ease-in-out;
    }

    .nav-link{
        flex-grow: 1;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 8px 10px;
        border-right: solid 1px #fe9047;
    }
    .nav-link:first-child {
        border-right: none;
        backdrop-filter: brightness(0.8);
    }
    .nav-link:last-child {
        border-right: none;
    }
    .nav-link:hover{
        cursor: pointer;
        backdrop-filter: brightness(0.8);
    }
    .nav-link.active{
        backdrop-filter: brightness(0.8);
    }
    .nav-link i{
        margin-left: 8px;
    }
}

.banner{
    width: 100%;
    height: auto;

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: max-content;
        background-color: #010523;
        
        img{
            width: 100%;
            height: auto;
        }
    }
}
main{
    width: 100%;
    height: auto;
    background-color: #010523;
    padding: 0 30px;

    .header-main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 40px;
        background-color: #F17A28;
        padding: 30px;
        text-transform: uppercase;
        color: #fff;

        h2{
            font-size: 20px;
            font-weight: 700;
        }

        div{
            display: flex;
            align-items: center;
            gap: 10px;

            p{
                font-size: 18px;
                font-weight: 700;
            }
            i{
                font-size: 24px;
            }
            #clock{
                font-size: 24px;
                font-weight: 900;
            }
        }
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 30px 60px;
        background-color: #fafafa;

        .payday-offers{
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            gap: 10px;

            .offers-articles{
                display: flex;
                gap: 10px;
                overflow: hidden;
                margin: 0 40px;
                scroll-behavior: smooth;
            }
            .wrapper-offers-articles{
                display: flex;
                gap: 10px;
            }
            article{
                display: flex;
                flex-direction: column;
                width: 250px;
                min-width: 250px;
                background-color: #fff;
                border: solid 1px #d3d3d3;
                border-radius: 5px;
                padding: 10px;
                color: #5c5c5c;

                .top-info{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 25px;
                    
                    .payday-tag{
                        font-size: 10px;
                        font-weight: 600;
                        text-transform: uppercase;
                        background-color: rgb(2, 215, 2);
                        padding: 5px;
                        border-radius: 20px;
                        height: 100%;
                        color: #000;
                    }
                    .ranking{
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        .stars{
                            font-size: 10px;
                            color: #FF6500;
                        }
                        p{
                            font-size: 10px;
                        }
                    }
                    .fav-cart-btns{
                        display: none;
                        gap: 10px;

                        button{
                            background: transparent;
                            border: none;
                            color: #cecece;
                            font-size: 20px;
                        }
                        button:hover{
                            cursor: pointer;
                            filter: brightness(0.8);
                        }
                    }
                }
                .product-img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .product-info{

                    h2{
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                        font-size: 14px;
                        font-weight: 700;
                    }
                    p{
                        font-size: 12px;
                    }
                    p.old-price{
                        text-decoration: line-through;
                        margin-top: 8px;
                    }
                    .price{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 25px;
                        gap: 5px;

                        h1{
                            font-size: 20px;
                            font-weight: 700;
                            color: #FF6500;
                        }
                        span{
                            font-size: 10px;
                            background-color: #FF6500;
                            border-radius: 20px;
                            color: #fff;
                            padding: 0 6px;
                        }
                    }
                    p span{
                        font-weight: 700;
                    }
                }
                .buy-product{
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 40px;
                    border: solid 1px #FF6500;
                    border-radius: 5px;
                    overflow: hidden;
                    margin-top: 40px;

                    .countdown{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;

                        i{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 30%;
                            height: 40px;
                            font-size: 24px;
                            color: #fff;
                            background-color: #FF6500;
                        }
                        div{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            width: 100%;
                            color: #FF6500;
                            text-transform: uppercase;

                            p{
                                font-size: 10px;
                                margin: 0;
                            }
                            h2{
                                font-size: 14px;
                                font-weight: 700;
                                margin: -3px;
                            }
                        }
                    }

                    .buy-btn{
                        position: absolute;
                        display: none;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        align-items: center;
                        line-height: 40px;
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: #fff;
                        background-color: #FF6500;
                        
                        i{
                            font-size: 18px;
                            margin-right: 8px;
                        }
                    }
                }
            }
            
            article:hover{
                box-shadow: 0 0 10px #d3d3d3;

                .product-container:hover{
                    cursor: pointer;
                }
                
                .buy-btn{
                    display: block;
                }
                .price span{
                    display: none;
                }

                .ranking{
                    display: none;
                }
                .fav-cart-btns{
                    display: flex;
                }
            }
            .left-arrow{
                position: absolute;
                top: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                border: solid 1px #d3d3d3;
                border-radius: 50%;
                width: 30px;
                height: 30px;
            }
            .right-arrow{
                position: absolute;
                top: 50%;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                border: solid 1px #d3d3d3;
                border-radius: 50%;
                width: 30px;
                height: 30px;
            }
            .left-arrow:hover, .right-arrow:hover{
                cursor: pointer;
                filter: brightness(0.9);
            }
        }
        .see-all{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            height: 40px;
            padding: 20px 0;
            
            a{
                text-transform: uppercase;
                color: #FF6500;
                font-size: 14px;
                font-weight: 700;
                text-decoration: none;
            }
            i{
                margin-left: 10px;
            }
        }
        .promo-banners{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 30px;
            margin: 20px 0;

            a img{
                width: 100%;
                height: auto;
            }
        }
    }
}
@keyframes opencloseMenu{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}