<div class="header-container">
    <div class="left-menu-btn">
        <button>
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
    <div class="header-logo">
        <a href="/index.html">
            <img src="https://static.kabum.com.br/conteudo/icons/logo.svg" alt="">
        </a>
    </div>
    <div class="right-menu">
        <a href="">
            <i class="fa-solid fa-universal-access"></i>
        </a>
        <a href="">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </div>
</div>
<div class="search-imput">
    <input type="text" placeholder="Busque no KaBuM!">
    <button>
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</div>
<div class="left-menu-container">
    <div class="left-menu">

        <div class="user-info">
            <div class="user-picture">
                <i class="fa-solid fa-user"></i>
            </div>
            <h2>Olá. Acesse sua conta</h2>
        </div>

        <div class="links">
            <a href="">
                <i class="fa-solid fa-house"></i>
                Minhas conta
            </a>
            <a href="">
                <i class="fa-solid fa-user"></i>
                Meus dados
            </a>
            <a href="">
                <i class="fa-solid fa-bag-shopping"></i>
                Meus pedidos
            </a>
            <a href="">
                <i class="fa-solid fa-wallet"></i>
                Carteira
            </a>
            <a href="">
                <i class="fa-solid fa-thumbs-up"></i>
                Avaliações
            </a>
            <a href="">
                <i class="fa-solid fa-headset"></i>
                Atendimento ao cliente
            </a>
            <a href="">
                <i class="fa-solid fa-message"></i>
                Protocolos
            </a>
            <a href="">
                <i class="fa-solid fa-heart"></i>
                Favoritos
            </a>
            <a href="">
                <i class="fa-solid fa-gift"></i>
                Sorteio
            </a>
            <a href="">
                <i class="fa-solid fa-bell"></i>
                Central de Notificações
            </a>
        </div>
        <div class="leftmenu-login-register">
            <a href="/pages/login.html" class="login">Entre</a>
            <a href="/pages/register.html" class="register">Cadastre-se</a>
        </div>
    </div>
    <div class="close-menu-btn">
        <button>
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
</div>

