<a class="nav-link departments-btn" href="">Departamentos
    <i class="fa-solid fa-angle-down" id="arrow"></i>
</a>
<div class="departments-container">
    <ul class="departments">
    </ul>
    <ul class="sub-departments">
    </ul>
    <ul class="department-itens">
    </ul>
</div>

<a class="nav-link" href="">Monte seu pc</a>
<a class="nav-link" href="">Cupons</a>
<a class="nav-link" href="">Frete Grátis</a>
<a class="nav-link" href="">Hardware</a>
<a class="nav-link" href="">Pc Gamer</a>
<a class="nav-link" href="">Computadores</a>
<a class="nav-link" href="">Periféricos</a>
<a class="nav-link" href="">Escritório</a>
<a class="nav-link" href="">Venda no Kabum!</a>